

<div class="welcome" *ngIf="isAuthenticated === 'UNAUTHORIZED'">
    <mat-card class="login-form">
      <mat-card-title>
        <p class="h5"><ng-tr [key]="'WELCOME_PAGE_COMPONENT_HTML.WELCOME_TO_STORIES_SYSTEM'"></ng-tr></p>
        <p class="h5"><ng-tr [key]="'WELCOME_PAGE_COMPONENT_HTML.LOGIN_TO_START_USING'"></ng-tr></p>
      </mat-card-title>
      <mat-card-content>
        <a mat-flat-button color="primary" href="#" style="text-transform:none;" (click)="singIn()">
          <div class="d-inline-flex">
            <div>
              <img class="google-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            </div>
            <span><ng-tr [key]="'WELCOME_PAGE_COMPONENT_HTML.LOGIN_WITH_GOOGLE'"></ng-tr></span>
          </div>
        </a>
      </mat-card-content>
    </mat-card>

</div>

