<div class="fullscreen">

    <mat-toolbar id="appToolbar" color="primary" class="toolbar toolbar-content">
        <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button">
            <mat-icon class="material-icons">menu</mat-icon>
        </button>
        <h1 class="component-title">
            <a class="title-link">{{title}}</a>
        </h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" class="app-sidenav">
            <mat-nav-list>
                <a *ngIf="isAuthentificated" mat-list-item class="sidenav-link" [routerLink]="['/boards-page']" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>picture_in_picture</mat-icon>
                    <span class="title" mat-line>Boards</span>
                </a>
                <a *ngIf="isAuthentificated && board" mat-list-item class="sidenav-link" [routerLink]="['/boards-page']" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>view_quilt</mat-icon>
                    <span class="title" mat-line>On board view</span>
                </a>
                <a *ngIf="isAuthentificated && board" mat-list-item class="sidenav-link" [routerLink]="['/boards-page']" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>view_quilt</mat-icon>
                    <span class="title" mat-line></span>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content >
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>