.add-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.menu {
    outline: none;
}

.name {
    padding-top: 10px;
}

.card {
    padding-top: 5px;
    max-width: 500px;
    display: inline-block!important;
    margin: 15px;
    min-width: 300px;
    min-height: 100px;
}

.fab-button-padding{
    margin-top: 25px;
}

.mat-menu-item {
    outline: none;
}

.add-button {
    outline: none;
}
